.header {
    background: white;
}

.header__inner {
    margin: 0 auto;
    padding: 10px 15px;
    width: 100%;
}

.header__logo {
    
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    font-family: cursive;
}

.change-form__text{
    border: none;
    color: blue;
}