.header {
    background: transparent;;
}

.header__inner {
    margin: 0 auto;
    padding: 0px 15px;
    width: 100%;
}

.header__logo {
    color: orange;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    font-family: cursive;
}


.product{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product__content{
    display: flex;
    justify-content:space-between;
}
.product__content-button{
    background-color: orange;
    height: 25px;
    width: 100px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.product__content-button-item{
    color: black;
    text-decoration: none;
    font-size: 10px;
    padding: 5px;
}

.product__content-search{
    float: left;
}


.product__content-search--form-text--item{
    border-radius: 15px;
    height: 30px;
    position: relative;
    left: 10px;
    border: none;
    background-color: white;
}

.product__content-search-button{
    position: relative;
    top: 10px;
    left: 10px;
}

.product__content-search-button--item{
    background-color: orange;
        height: 25px;
        width: 150px;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        border: none;
}



.product__card {
    width: 200px;
    margin: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
        /* 必要に応じて折返しも許容 */
        display: flex;
            flex-direction: column;
align-items: center;

}

.product__card-form--img img{
    width: 100%;
    flex: 1 1 calc(25% - 10px);
        /* 4列表示、調整可能 */
    box-sizing: border-box;
    text-decoration: none;
}

.product__card-form--content {
    padding: 15px 25px;
}

.product__card-form--content-name {
    font-size: 12px;
    display: inline-block;
}

.product__card-form--content-price {
    font-size: 12px;
    display: inline-block;
}

svg.w-5.h-5 {
    /*paginateメソッドの矢印の大きさ調整のために追加*/
    width: 30px;
    height: 30px;
}
.product__pages{
    float: left;
}