



.product__card {
    width: 360px;
    margin: 100px auto 0;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    display: flex;
        justify-content: space-around;
}

.product__card-img img{
    width: 100%;
}

.product__card-content {
    padding: 15px 25px;
}

.product__card-content-name {
    font-size: 18px;
    display: inline-block;
}

.product__card-content-price {
    font-size: 18px;
    display: inline-block;
}