
.product{
    max-width: 1230px;
}


.product__card {
    width: 360px;
    margin: 100px auto 0;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
        /* 必要に応じて折返しも許容 */
    gap: 10px;
}

.product__card-img img{
    width: 100%;
    flex: 1 1 calc(25% - 10px);
        /* 4列表示、調整可能 */
    box-sizing: border-box;
        text-decoration: none;
}

.product__card-content {
    padding: 15px 25px;
}

.product__card-content-name {
    font-size: 18px;
    display: inline-block;
}

.product__card-content-price {
    font-size: 18px;
    display: inline-block;
}