.header {
    background: white;
}

.header__inner {
    margin: 0 auto;
    padding: 10px 15px;
    width: 100%;
}

.header__logo {
    color: orange;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    font-family: cursive;
}

.register-form{
    max-width: 100%;
    max-height: 100%;
    background-color: whitesmoke;
    text-align: center;
}

.register-form__group-title{
    position: relative;
    left: 100;
}

.register-form__input--text{
    width: 70%;
}