.header {
    background: transparent;;
}

.header__inner {
    margin: 0 auto;
    padding: 0px 15px;
    width: 100%;
}

.header__logo {
    color: orange;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    font-family: cursive;
}

main{
    max-width: 100%;
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
}

.register-form {
    width: 80%;
    max-width: 600px;
    /* 横幅を適切に */
    margin: auto;
    /*中央寄せ */
    background-color: aqua;
}



.register-form__name-item,
.register-form__price-item,
.register-form__image-item,
.register-form__season-item,
.register-form__explanation-item{
    display: flex;
    align-items: center;
    gap: 8px;
}

.register-form__name-item--required,
.register-form__price-item--required,
.register-form__image-item--required,
.register-form__season-item--required,
.register-form__explanation-item--required
{
    color: white;
    background-color: red;
    font-size: 10px;
    padding: 2px 4px;
    border-radius: 3px;
}

.register-form__season-item--multiple{
    color: red;
    font-size: 10px;
}

.register-form__season-content--input {
    display: flex;
    gap: 20px;
    /* スペースを均等に */
}

.register-form__season-content--input-item{
    margin-right: 20px;
    color: #444444;
    font-size: 13px;
}

.register-form__name-input,
.register-form__price-input{
    width: 100%;
    padding: 5px;
    display: inline-block;
    text-align: left;
}

.register-form__button{
    margin: 20px auto;
}

.register-form__button-submit {
    background-color: rgba(255, 166, 0, 0.624);
    height: 25px;
    width: 100px;
    border-radius: 5px;
    border: none;
}

.register-form__button-return{
    background-color: darkgrey;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    padding: 3px 30px;
    font-size: 15px;
}
.register-form__explanation-content-input{
    width: 100%;
    height: 50px;
    padding: 5px;
}

.change-form__error,
.change-form__content-price--error,
.change-form__content-image-error,
.change-form__error-content {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}