.header {
    background: white;
}

.header__inner {
    margin: 0 auto;
    padding: 10px 15px;
    width: 100%;
}

.header__logo {
    color: orange;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    font-family: cursive;
}

.register-form{
    max-width: 100%;
    max-height: 100%;
    background-color: whitesmoke;
    text-align: center;
}




.register-form__name-item,
.register-form__price-item,
.register-form__image-item,
.register-form__season-item,
.register-form__explanation-item{
    display: inline-block;
    margin-bottom: 10px;
}

.register-form__name-item--required,
.register-form__price-item--required,
.register-form__image-item--required,
.register-form__season-item--required,
.register-form__explanation-item--required
{
    color: white;
    background-color: red;
    font-size: 10px;
    padding: 5px;
}

.register-form__season-item--multiple{
    color: red;
    font-size: 10px;
}

.register-form__season-content--input-item{
    margin-right: 20px;
    color: #444444;
    font-size: 13px;
}

.register-form__name-input,
.register-form__price-input{
    width: 50%;
    padding: 5px;
    display: inline-block;
    text-align: left;
}

.register-form__button{
    background-color: aqua;
    ma
}

.register-form__button-submit {
    background-color: rgba(255, 166, 0, 0.624);
    height: 25px;
    width: 100px;
    border-radius: 5px;
    border: none;
}

.register-form__button-return{
    background-color: darkgrey;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    padding: 3px 30px;
    font-size: 15px;
}
.register-form__explanation-content-input{
    width: 50%;
    height: 100px;
    padding: 5px;
}